.DS_Store
out/
Main.java
Main.class
*.stl
printjava/printjava/*.class
printjava/printjava/Meshes/*.class
Test.java
*.class
Volume.java
VolumePrints.java
Washer.java
WasherPrints.java
Beyblade.java
.venv/